In [3]:
import numpy as np
import pandas as pd

### Version of NumPy

In [4]:
np.__version__

'1.23.3'

### Number of records in the dataset

In [5]:
df = pd.read_csv('car_price.csv')

In [8]:
df.shape[0]

11914

### The most popular car manufacturers

In [13]:
df['Make'].value_counts().sort_values(ascending=False).head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

### Number of unique Audi car models

In [18]:
df.query('Make == "Audi"')[['Model']].nunique()

Model    34
dtype: int64

### Number of columns with missing values
I just count them )

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     11914 non-null  object
 1   Model                    11914 non-null  object
 2   Year                     11914 non-null  int64
 3   Engine Fuel Type         11911 non-null  object
 4   Engine HP                11845 non-null  float64
 5   Engine Cylinders         11884 non-null  float64
 6   Transmission Type        11914 non-null  object
 7   Driven_Wheels            11914 non-null  object
 8   Number of Doors          11908 non-null  float64
 9   Market Category          8172 non-null   object
 10  Vehicle Size             11914 non-null  object
 11  Vehicle Style            11914 non-null  object
 12  highway MPG              11914 non-null  int64
 13  city mpg                 11914 non-null  int64
 14  Popularity               11914 non-null  int64
 15  MSRP                     11914 non-null  int64
 16  Engine Cylinders filled  11914 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 1.5+ MB

### Does the median value change after filling missing values
no

In [23]:
df[['Engine Cylinders']].median()

Engine Cylinders    6.0
dtype: float64

In [26]:
df[['Engine Cylinders']].value_counts().head(1)

Engine Cylinders
4.0                 4752
dtype: int64

In [72]:
df[['Engine Cylinders']].mode()

   Engine Cylinders
0               4.0

In [75]:
df[['Engine Cylinders filled']] = df[['Engine Cylinders']].fillna(df[['Engine Cylinders']].mode().iloc[0][0])

In [76]:
df[['Engine Cylinders filled']].median()

Engine Cylinders filled    6.0
dtype: float64

In [78]:
df[['Engine Cylinders']].median()[0] == df[['Engine Cylinders filled']].median()[0]

True

### Value of the first element of w

In [38]:
X = df.query('Make == "Lotus"')[["Engine HP", "Engine Cylinders"]].drop_duplicates().to_numpy()

In [82]:
XTX = np.matmul(X.T, X)

In [83]:
XTX_inv = np.linalg.inv(XTX)

In [43]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [84]:
w = np.matmul(np.matmul(XTX_inv, X.T), y)

In [85]:
w[0]

4.594944810094551